@import "../scss/color.scss";
main {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  column-gap: 27px;
  height: 814px;
  padding-top: 30px;
}

// ALL SIDEBAR
.sidebar {
  width: 288px;
  height: 814px;
  background: $section-background;
  box-shadow: 0px 2px 15px rgba(108, 126, 147, 0.1);
  border-radius: 6px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .avatar-card {
    width: 158px;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
      position: relative;
      .avatar-upload {
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 20px;
        height: 20px;
        background: $button-bg;
        border-radius: 50%;
        outline: none;
        border: none;
      }
    }
    .avatar-text {
      p {
        &:first-of-type {
          font-family: Airbnb Cereal App;
          margin-top: 12px;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 160%;
          color: $text-dark;
          text-align: center;
        }
        &:last-of-type {
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: $text-light;
          text-align: center;
        }
      }
    }
  }
  //EDIT CONTAINER
  .edit-profile-container {
    padding-top: 10px;
    padding-bottom: 24px;
    button {
      width: 135px;
      height: 35px;
      background: $button-bg;
      outline: none;
      border: none;
      font-family: Airbnb Cereal App;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: $section-background;
      border-radius: 6px;
    }
  }
  //PROFILE
  .profile {
    width: 100%;
    height: 74px;
    padding-top: 34px;
    p {
      font-family: Airbnb Cereal App;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      color: #484848;
    }
    .search_container {
      width: 100%;
      height: 50px;
      display: flex;
      box-sizing: border-box;
      border-radius: 6px;
      margin: 0px;
      padding: 0px;
      input {
        width: calc(100% - 54px);
        font-family: Airbnb Cereal App;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: $blue;
        border: 1px solid #d1d1d1;
        border-radius: 6px 0px 0px 6px;
        padding-left: 15px;
        &:focus {
          outline: none;
        }
      }
      button {
        outline: none;
        width: 54px;
        border-radius: 0px 6px 6px 0px;
        border-left: 0px !important;
        border: 1px solid #d1d1d1;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  // SIDEBAR NAV
  .side_nav {
    width: 100%;
    ul {
      width: 100%;
      padding: 0px;
      margin: 0px;
      li {
        list-style: none;
        border-top: 1px solid #e8e8e8;
        &:last-of-type {
          border-bottom: 1px solid #e8e8e8;
        }
        a {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: $text-dark;
          padding: 12px;
        }
      }
    }
  }
}
// main
.main {
  background: $section-background;
  box-shadow: 0px 2px 15px rgba(108, 126, 147, 0.1);
  border-radius: 6px;
  height: 814px;
  width: calc(100% - 315px);
  padding: 30px;

  //   TOP CARDS
  .top_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .card {
      height: 175px;
      border: 1px solid $divider;
      width: 31.7%;
      padding: 20px 24px;
      border-radius: 6px;
    }
    .with_progress {
      .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .title {
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: $text-color;
        }
        .description {
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
          text-align: right;
          color: #9ea0a5;
        }
      }
      .percentage {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        .bigger {
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 127%;
          color: $text-dark;
        }
        .smaller {
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 180%;
          text-align: right;
          color: #348373;
        }
      }
      .yearly-goal {
        margin-top: 14px;
        p {
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 140%;
          color: #a3a3a3;
        }
      }
      .progress {
        width: 100%;
        background: $divider;
        border-radius: 2px;
        height: 4px;
        .progress_inner {
          background: $button-bg !important;
          width: 70%;
          height: 4px;
          border-radius: 2px;
        }
      }
    }
    .revenue {
      .graph {
      }
      .percentage {
        margin-bottom: 5px;
        .smaller {
          color: orange;
        }
      }
    }
  }
  //   middle
  .middle_cards {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .totalSsales {
      width: 33%;
      height: 261px;
      border: 1px solid $divider;
      padding: 20px 24px;
      border-radius: 6px;
    }
    .profit {
      width: 65%;
      height: 261px;
      border: 1px solid $divider;
      padding: 20px 24px;
      border-radius: 6px;
    }
  }
}

._header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid $divider;
  .side_icon {
    outline: none;
    border: none;
    background: #fff;
  }
  .title {
    display: flex;
    button {
      width: 36px;
      height: 36px;
      background: $button-bg;
      border-radius: 3.20245px;
      outline: none;
      border: none;
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tatal_sales {
      padding: 0px;
      .total {
        font-family: Airbnb Cereal App;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #3e3f42;
      }
      .amount {
        font-family: Airbnb Cereal App;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: $light-green;
      }
    }
  }
}

.dailyProfittitle {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #3e3f42;
}

.btn_yollow {
  background: $yellow !important;
}
.onboarding {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #a3a3a3;
}

.body {
  display: flex;
  height: 182px;
  align-items: center;
  justify-content: center;
  .dognut {
    width: calc(100% - 102px);
  }
  .text {
    width: 102px;
    height: 100%;
    div {
      height: 90px;
      padding-top: auto;
      &:first-of-type {
        border-bottom: 1px solid $divider;
      }
      .top {
        font-family: Airbnb Cereal App;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 138%;
        text-align: right;
        color: #1a1a1a;
      }
      .bottom {
        font-family: Airbnb Cereal App;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 135%;
        text-align: right;
        color: #a3a3a3;
      }
    }
  }
}

.number_top {
  padding-top: 15px;
}
.number_bottom {
  padding-top: 10px;
}
.chart {
  width: 100%;
  position: relative;
  height: 182px;
  .chart__inner {
    width: 100%;
    height: 131px;
    position: absolute;
    bottom: 0;
  }
}

//media queries
@media screen and (max-width: 1300px) {
  .sidebar {
    width: 200px;
  }
  .main {
    width: calc(100% - 215px);
  }
}
@media screen and (max-width: 992px) {
  main {
    padding-right: 5%;
    padding-left: 5%;
  }
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .top_cards {
    .card {
      // padding: 15px 10px;
    }
    .with_progress {
      .top {
        .title {
          font-size: 14px !important;
        }
        .description {
          font-size: 12px !important;
        }
      }
      .percentage {
        .bigger {
          font-size: 30px !important;
        }
        .smaller {
          font-size: 12px !important;
        }
      }
      .yearly-goal {
        p {
          font-size: 11px !important;
        }
      }
    }
  }
  ._header {
    .side_icon {
      outline: none;
      border: none;
      background: #fff;
    }
    .title {
      display: flex;
      button {
        width: 30px;
        height: 30px;
        margin-right: 14px !important;
      }
      .tatal_sales {
        .total {
          font-size: 14px !important;
        }
        .amount {
          font-size: 11px !important;
          line-height: 140%;
        }
      }
    }
  }
  .dailyProfittitle {
    font-size: 14px !important;
  }
  .onboarding {
    font-size: 11px !important;
  }
  .body {
    .text {
      div {
        .top {
          font-size: 18px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main,
  main {
    height: auto;
    max-height: 100%;
  }
  .top_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .card {
      width: 100% !important;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  .middle_cards {
    flex-direction: column;
    .totalSsales {
      width: 100% !important;
    }
    .profit {
      width: 100% !important;
    }
  }
  ._with_small_screen_margin {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  .main {
    padding: 15px;
  }
  .top_cards {
    .card {
      // padding: 15px 10px;
    }
    .with_progress {
      .top {
        .title {
          font-size: 14px !important;
        }
        .description {
          font-size: 12px !important;
        }
      }
      .percentage {
        .bigger {
          font-size: 30px !important;
        }
        .smaller {
          font-size: 12px !important;
        }
      }
      .yearly-goal {
        p {
          font-size: 11px !important;
        }
      }
    }
  }

  ._header {
    .side_icon {
      outline: none;
      border: none;
      background: #fff;
    }
    .title {
      display: flex;
      button {
        width: 30px;
        height: 30px;
        margin-right: 14px !important;
      }
      .tatal_sales {
        .total {
          font-size: 14px !important;
        }
        .amount {
          font-size: 11px !important;
          line-height: 140%;
        }
      }
    }
  }
  .dailyProfittitle {
    font-size: 14px !important;
  }
  .onboarding {
    font-size: 11px !important;
  }
  .body {
    .text {
      div {
        .top {
          font-size: 18px !important;
        }
      }
    }
  }
}
